[submodule "go-secp256k1-zkp"]
	path = go-secp256k1-zkp
	url = https://github.com/vulpemventures/go-secp256k1-zkp
	branch = v1.1.6
[submodule "regtest"]
	path = regtest
	url = https://github.com/BoltzExchange/regtest
[submodule "gdk"]
	path = gdk
	url = https://github.com/Blockstream/gdk
[submodule "lwk"]
	path = lwk
	url = https://github.com/Blockstream/lwk
	branch = main
