# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.a
*.dylib

boltzd
boltzcli
!cmd/boltzd
!cmd/boltzcli
bin/
internal/onchain/wallet/lib/
boltz-client-*.tar.gz
boltz-client-manifest-*.txt

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Config, database, log, certificate and macaroon files
boltz.toml
!internal/rpcserver/test/boltz.toml
internal/rpcserver/test/wallet
internal/rpcserver/test/autoswap.toml
boltz.db
boltz.log
tls.key
tls.cert
*.macaroon
regtest

# Goland
.idea/
.run/

test-data

target/

# Docs
docs/node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/
