# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.a
*.dylib

boltzd
boltzcli
!cmd/boltzd
!cmd/boltzcli
bin/
boltz-client-*.tar.gz
boltz-client-manifest-*.txt

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Config, database, log, certificate and macaroon files
boltz.toml
!cmd/boltzd/test/boltz.toml
cmd/boltzd/test/autoswap.toml
boltz.db
boltz.log
tls.key
tls.cert
*.macaroon

# Goland
.idea/

test-data
