name: CI

on: [push, pull_request]

jobs:
  build:
    name: CI

    strategy:
      matrix:
        platform: [ubuntu-latest]
        go-version: [1.13.x, 1.14.x]

    runs-on: ${{ matrix.platform }}

    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Fetch dependencies
        run: go mod vendor

      - name: Build
        run: make build

      - name: Test
        run: make unit

      - name: Lint
        env:
          GOPATH: /home/runner/work/
        run: |
          export PATH=${PATH}:`go env GOPATH`/bin
          go get github.com/golangci/golangci-lint/cmd/golangci-lint
          go mod vendor
          make lint
